/* Define Colors */
$primary: #064273;
$secondary: #76b6c4; 
$body-bg: #BDD09F;
$navbar-bg: rgba(#EEFFFF, 0.35);
$yield-bg: rgba(#FFFFFF, 0.85);
$green-l: #BDD09F;
$green-m: #668D3C;
$green-d: #404F24;
$blue-d: #064273;
$blue-l: #76b6c4;
$blue-secondary: #1da2d8;
$header-text: #EEFFFF;
$shadow: rgba(#333333, 0.4);

body {
  background-color: $body-bg;
  background: url(../images/boothbay3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $primary;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 20px 8% 100px 8%;
  text-align: left;
}

/*
 * Style for the nav bar.
 */
div.navbar {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  float: left;
  background-color: $navbar-bg;
  padding: 0px;
  margin: 10px;
  border: 2px solid $primary;
  box-shadow: 3px 3px 3px $shadow;
  
  /* style for navbar buttons */
  div {
    text-align: center;
    width: 100%;
    padding: 10px 15px 10px 15px;
  }
  
}

h1, h2, h3 {
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px 3px $shadow;
  color: $header-text;
}

div.header-title {
  text-align: center;
  h1 {
    font-size: 60px;
  }
}

hr {
  color: $header-text;
}



a {
  color: rgba($primary, 0.8);

  &:focus,
  &:hover {
    color: rgba($primary, 0.7);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
