<div class="navbar">
  <div>
    <a href="index.html">Home</a>
  </div>
  <div>
    <a href="gallery.html">Gallery</a>
  </div>
  <div>
    <a href="gallery.html">Rent</a>
  </div>
  <div>
    <a href="gallery.html">About</a>
  </div>
</div>
